<nav>
    <%= link_to "MyApp", root_path%>
    <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Projects", projects_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Admin", dashboard_path %></li>
    </ul>
</nav>